body,ul,li{
	margin: 0;
	padding: 0;
}
html{
	font-size: 10px;
	position: relative;
}
body{
	background: #F2F2F2;;
}
#head{
	position: relative;
	height: 45px;
}
#head>a{
	display: inline-block;
	position: relative;
	left: 2%;
	top: 30%;
	height: 50%;	
}
#head>a>img{
	height: 100%;	
}
#head>span{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 35%;
	font-size: 1.4rem;
	color: #444950;
}
.center{
	width: 100%;
	height: 275px;
	position: relative;
	background: #F9F9F9;
}
.nav{
	position: relative;
	border-top: 1px solid gainsboro;	
	border-bottom: 1px solid gainsboro;
	width: 100%;
	height: 50px;
	background: white;
	line-height: 50px;
}
.anniu1{
	position: absolute;
	width: 22px;
	height: 22px;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid gainsboro;
	top: 0;bottom: 0;
	margin: auto;
	left: 2%;
	background: url(../img/shoping-cart/Checked.png) no-repeat;
	background-size: 100% 100%;
}
.anniu2{
	position: absolute;
	width: 22px;
	height: 22px;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid gainsboro;
	top: 0;bottom: 0;
	margin: auto;
	left: 2%;
	background: url(../img/shoping-cart/xiegang.png) no-repeat;
	background-size: 100% 100%;
}
.nav>span{
	margin-left: 12%;
	font-size: 1.4rem;
	
}
.nav>a{
	position: absolute;
	right: 5%;
	text-decoration: none;
	font-size: 1.4rem;
	color: #1D1F23;
}
.ulshow{
	list-style: none;	
	background: #F9F9F9;
	padding-bottom: 20px;
}
.ulshow>li{
	position: relative;
	height: 80px;
}
.anniu{
	position: absolute;
	width: 22px;
	height: 22px;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid gainsboro;
	top: 0;bottom: 0;
	margin: auto;
	left: 2%;
}
.shopshow{
	position: relative;	
	width: 80px;height: 80px;
	margin-left: 10%;
	margin-top: 20px;
}
.shopshow>img{
	width: 100%;
	
}
.p0{
	position: absolute;
	display: block;
	background: rgba(192,49,72,0.8);
	width: 100%;
	height: 20px;
	bottom: -10px;
	line-height: 20px;
	text-align: center;
	color: white;
}
.p01{
	position: absolute;
	display: block;
	background: rgba(117,117,117,0.8);
	width: 100%;
	height: 20px;
	bottom: -10px;
	line-height: 20px;
	text-align: center;
	color: white;
}
.shop-details{
	position: absolute;
	left: 35%;
	bottom: 0;
	height: 78px;
	width: 60%;
}
.select{
	position: absolute;
	right: 0;
	outline: none;
	bottom: 0;
	width: 45px;
	height: 24px;
	background: white;
}
.select1{
	position: absolute;
	right: 0;
	outline: none;
	bottom: 0;
	width: 45px;
	height: 24px;
	background: gainsboro;
	color: gray;	
}
.span1{
	display: inline-block;
	width: 100%;
	height: 30px;
	font-size: 1.4rem;
}
.p1{
	margin-top: 5px;
	color: #B6B6B6;
}
.p2{
	position: absolute;
	bottom: -10px;
	font-size: 1.6rem;
	color: #CD4459;
}
#foot{
	width: 100%;
	height: 120px;
	background: #F0F0F0;
	margin-top: 80px;
	position: relative;
}
button{
	width: 110px;
	height: 33px;
	border: 1px solid #F6D7B1;
	background: #F4F4F4;
	color:  #F7BA6F;
	position: absolute;
	left: 0;right: 0;
	margin: auto;
	top: 20px;
	outline: none;
	font-size: 1.4rem;
}
.footdiv{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 45px;
	background: #F9F9F9;
	line-height: 45px;
}

.jiesuan{
	position: absolute;
	right: 0;
	height: 45px;
	width: 100px;
	background: #C31734;
	bottom: 0;
	line-height: 45px;
	text-align: center;
	color: white;
	font-size: 1.6rem;	
}
.quanxuan{
	margin-left: 10%;
}
.footp1{
	position: absolute;
	bottom: -5px;
	left: 25%;
	font-size: 1.4rem;
}
.footp2{
	position: absolute;
	bottom: -20px;
	right: 30%;
	font-size: 1.2rem;
	color: #8D8D8D;
}
.footp3{
	color: #C7C7C7;
}
.footp4{
	color:#DA6F7F;
	margin-left: 2px;
	font-weight: bolder;
}
.footp5{
	color: #828282;
	margin-left: 3px;
}

















